<div class="popup">
  <h1 class="text">About..</h1>
  <p class="text">"It all began with a wise wizard, enjoying his pipe, and star-gazing on a summer night. Perhaps we
    owe it to the herbs in his pipe, but the wizard had a vision and felt the need to share it with those closest to
    him. His vision was for everyone to share in his knowledge and insights, and to use his resources as their own, to
    better themselves and make some coin on the side. So he put down his pipe and got to work.
  </p>
  <p class="text">The success of his vision would only be achieved with a team of visionaries and pioneers, who
    understood the value
    of what he set out to do. The team which was formed took on a life of its own and its ambitions surpassed all
    expectations. What started as an ideas session at the round table quickly turned into a plan, a strategy, and a
    roadmap for a journey through the web3 landscape.
  </p>
  <p class="text">It was decided, they would build an ecosystem with a focus on sustainability, longevity, and organic
    growth. They
    envisioned to support the growth of promising Solana projects through strategic partnerships and by providing their
    community with tools, information, connections, and guidance. It was to be a web3 one-stop-shop called Solpix.</p>
  <p class="text">At the core of this team are financial advisers and traders, marketeers, artists, developers,
    engineers, and project
    and community managers. Since its inception, the direction of the project was shaped by the possibilities of the
    team and the market needs, while always being focused on changing and shaping the future of web3 and bringing the
    greatest value to the Solana community.</p>
  <p class="text">And so what was once merely a pipe dream has very quickly become a reality for this wizard and his
    band of brothers.
    A reality you could find yourself part of very, very soon, if you don`t mind following a pipe-smoking wizard into
    the future.”</p>
  <!-- <div class="logo-popup">
    <div>
      <img src="/assets/layer1.png" alt="solpixlogo" width="125" height="125">
    </div>
  </div> -->
</div>