* {
    color: #ffd42a;
}
.about{
    position: absolute;
    margin-top: 13%;
    width: min(100%,80rem);
    margin-inline: auto;
    margin-left: 10%;
    background-color: rgba(0, 0, 0, 0.626);
    border: aliceblue;
    min-height: 20rem;
}