
svg {
    max-width:100%;
    min-height:auto;
    min-width:auto;
}

#LOGONEW {
    opacity: 1;
    cursor: pointer;
    transition: all 1s ease;
}

#SOCIALS {
    opacity: 1;
    cursor: pointer;
}

#PATHS {
    opacity: 1;
}

#OVERLAYPOWER{
    cursor: pointer;
}
#OVERLAYMENU{
    cursor: pointer;
}

#POWER {
    fill: #f7b215;
}

#IDLETEXT{
    fill: #f7b215;
    opacity: 0;
    transition: all 1s ease;
}

#POWERBORDERNEW {
    fill-rule: evenodd;
    clip-rule: evenodd;
    stroke: #f7b215;
    background: transparent;
    border: none !important;
    font-size: 0;
    cursor: pointer;
}

.st0 {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #00CCFF;
}

.st1 {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #f7b215;
}

.st2 {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #f7b215;
}

.burger-menu {
    display: none;
}




