
svg {
    max-width:100%;
    min-height:auto;
    min-width:auto;
}

@media only screen and (min-width: 768px) {
    svg {margin-top: -150;}
}

#LOGO {
    opacity: 1;
    cursor: pointer;
    transition: all 1s ease;
}

#SOCIALS {
    opacity: 1;
    cursor: pointer;
    
}

#PATHS {
    opacity: 1;
}

.st0 {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #00CCFF;
}

.st1 {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #FFD42A;
}

.st2 {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #FFD42A;
}

