.power {
    width: 156px;
    height: 160px;
    background: transparent;
    border: none !important;
    font-size: 0;
    cursor: pointer;

}

.burger-menu{
  position: absolute;
    width: 63px;
    height: 60px;
    top: 100;
    right: 180;
    background: transparent;
    border: none;

}

@media only screen and (min-width: 1080px) {
  .burger-menu {
    font-size: 0;
    cursor: pointer;
    width: 82px;
    position: absolute;
    height: 69px;
    top: 190;
    right: 240;
    background: transparent;
    border: none;
  }
}

.container {
    position: absolute;
    left: 46.5%;
    top: 45%;
  }


.mat-menu {
  margin-left: 85vw;
  margin-top: -50.7%;
  background-color: #000;
  border: 3px solid #0CF;
  right: 50px;
}

.mat-menu-panel-0{
  max-width: 230px !important;
}

.testButton{
    background-color: rgba(0, 0, 0, 0.626);
    color: #ffd42a;
    font-size: large;


}