<div class="container-burger">
    <button [matMenuTriggerFor]="beforeMenu" class="burger-menu"></button>
</div>
<mat-menu #beforeMenu="matMenu" xPosition="before" class="mat-menu">
    <button mat-menu-item class="testButton" (click)="clickMenuComingSoon()">coming soon</button>
    <button mat-menu-item class="testButton" (click)="clickMenuAbout()">about</button>
    <button mat-menu-item class="testButton" (click)="clickMenuGen1()">GEN1</button>
</mat-menu>
<div class="container">
    <button class="power" (click)="onClickLogo()"></button>
</div>