<div class="popup">
    <h1 class="text">Gen 1</h1>
    <h3 class="text">
        MINT DATE: TBA
    </h3>
    <h3 class="text">
        SUPPLY: 2000
    </h3>
    <h3 class="text">
        MINT PRICE: roughly 1 SOL
    </h3>
    <h3 class="text">
        THE OBJECTIVES OF GEN1 ARE:
    </h3>
    <ul class="text">
        <li>
            every NFT is going to be your ticket for our lucky draw
        </li>
        <li>
            you will have the option to participate in the "Burning Games"
        </li>
        <li>
            you will get access to all our tools and builds
        </li>
        <li>
            you will retain access to our Discord server
        </li>
        <li>
            you will be eligible for community rewards (paid regularly in Sol to alpha hunters, artists, builders,
            active community members…)
        </li>
        <li>
            you will be able to raid to earn
        </li>
        <li>
            you will be able to participate in our giveaways, game events, get your hands on our WL offerings
        </li>
        <li>
            you will automatically get a discounted WL for all our future collections
        </li>
    </ul>
    <h3 class="text">
        Burning Games:
    </h3>
    <p class="text">
        We want to provide a game-like experience and motivate people to chase after the status of Solpix DAO. We will
        work closely with our community and with our artist to create unique characters which we will then auction on a
        weekly basis. Every week there can be just one new member of the DAO. The only way to win the auction and
        receive the legendary 1/1, is to be the person willing to burn the most of theirs GEN1 NFTs.
    </p>
    <br>
    <h3 class="text">
        Sneak Peaks:
    </h3>
    <div class="sneakpeak">
        <div class="images">
            <img src="../../../assets/SP_1.png" class="team-header-image" alt="Sneak Peak 1">
            <img src="../../../assets/SP_2.png" class="team-header-image" alt="Sneak Peak 2">
            <img src="../../../assets/SP_4.png" class="team-header-image" alt="Sneak Peak 4">
        </div>

    </div>

</div>