/* Add application styles & imports to this file! */
body {
    background-color: black;
    margin-top: -150px;
}

/* .center-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
  } */

.text {
    color: #f7b215;
}
.popup{
    position: absolute;
    background-color: #000;
    border: 3px solid #0CF;
    width: 64%;
    top: 22%;
    height: 51%;
    border-radius: 10px;
    padding: 20px;
    outline: 15px solid #000;
}

app-coming-soon {
    display: flex;
    justify-content: center;
}
app-about {
    display: flex;
    justify-content: center;
}
app-gen1 {
    display: flex;
    justify-content: center;
}

/* .logo-popup {
    position: absolute;
    left: 47.4%;
    top: 44%;
    opacity: 0.3;
  } */

