
.text {
    color: #f7b215;
}
.popup{
    position: absolute;
    background-color: #000;
    border: 3px solid #0CF;
    width: 64%;
    top: 22%;
    border-radius: 10px;
    padding: 20px;
    outline: 15px solid #000;
    overflow: scroll;
    max-height: 900px;
    min-height: 900px;

}
#team {
    display: flex;
}

.popup p {
    font-size: 19px;
}

.mat-menu {
    background-color: #000;
    border: 3px solid #0CF;
    margin-top: 170px;
    min-width: 230px;
  }

.cdk-overlay-container {
    position: inherit !important;
    height: 0%;
}

.cdk-overlay-pane {
    margin-right: 200px;
    margin-top: 40px;
}

.cdk-overlay-connected-position-bounding-box{
    align-items: flex-end !important;
}
  
  
.testButton{
    background-color: rgba(0, 0, 0, 0.626);
    color: #f7b215;
    font-size: large;
}
  
.testButton{
    background-color: rgba(0, 0, 0, 0.626);
    color: #f7b215;
    font-size: large;
}

app-team {
    display: flex;
    justify-content: center;
}
app-about {
    display: flex;
    justify-content: center;
}
app-nft {
    display: flex;
    justify-content: center;
}
app-whitepaper {
    display: flex;
    justify-content: center;
}

.logo-popup{
    position: absolute;
    scale: 0.5;
    bottom: calc(100vh/2);
    left: calc(100vw/2);
    
}

.idle{
    stroke: #f7b215;
    stroke-width: 3;
}

img {
    transition: 1s all ease;
    opacity: 1;
}


html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-color: black;
    margin-top: -150px;
}

@media screen and (max-width: 1080px){
    body {
        margin-top: 0px;
    }
}
